@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/site.css" />
    <script src="~/Scripts/site.js" type="text/javascript"></script>
</head>
<body>
    <header>
        <h1>Welcome to My Application</h1>
    </header>
    <main>
        <p>This is the home page of your ASP.NET MVC application.</p>
    </main>
    <footer>
        <p>&copy; @DateTime.Now.Year - My Application</p>
    </footer>
</body>
</html>

