@page
@model PrivacyModel
@using Ksenya_Modul7.Models
@using MusicCatalog.View.Shared
@using Mysqlx
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
